h2.text-center Kategoriler 
.list-group.p-3.pt-0
    a.list-group-item.active(href="#") Tüm Filmler
    a.list-group-item(href="#") Korku
    a.list-group-item(href="#") Komedi
    a.list-group-item(href="#") Savaş
    