extends layout
block content
    h2 Film Türü Ekle
    .col-md-4
        form(asp-action='addGenre' method='post')
            .form-group
            label.control-label Film Türü
            input.form-control(name='turAdi')
            .form-group
            label.control-label Açıklama
            input.form-control(name='aciklama')
            .form-group
            input.btn.btn-primary.mt-3(type='submit' value='Create')
