extends layout 

block content
    h1 Genres List
    table.table.table-striped 
        thead 
            tr
                th Tür Adı
                th Açıklama
                th 
        tbody
            each tur in genres 
                tr 
                    td #{tur.turAdi}
                    td #{tur.aciklama}
                    td 
                        a.btn.btn-primary.mx-1(href="/genres/edit/" + tur._id) Edit
                        a.btn.btn-primary(href="/genres/delete/" + tur._id) Delete