extends layout
block content
    h2 Kullanıcı Giriş
    .col-md-4
        form(action='/users/login' method='post')
            .form-group
            label.control-label Email
            input.form-control(name='email')
            .form-group
            label.control-label Password
            input.form-control(name='password' type="password")
            .form-group
            input.btn.btn-primary.mt-3(type='submit' value='Giriş')